<div class="flex items-center w-full flex-col">
  <% if @notifications.present? %>
    <ul class="divide-y divide-gray-100 max-w-5xl w-full">
      <%= render @notifications %>
    </ul>

    <div class="flex justify-center mt-8 lg:mt-16 w-full">
      <%== pagy_nav @pagy, link_extra: 'data-turbo-action="advance"' %>
    </div>
  <% else %>
    <div class="text-center mt-10 sm:mt-14">
      <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
      </svg>
      <h3 class="mt-2 text-sm font-semibold text-gray-900"><%= t('.not_exist') %></h3>
    </div>
  <% end %>
</div>
