<%# locals: (link:) %>

<% return if link.tag_list.empty? %>

<ul class="mt-2 sm:mt-4 flex flex-row gap-x-1.5 sm:gap-x-2.5">
  <% link.tag_list.each do |tag| %>
    <li>
      <span class="inline-flex items-center gap-x-0.5 rounded-md bg-indigo-50 px-2 py-1 text-xs sm:text-sm font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10">
        <%= tag %>
      </span>
    </li>
  <% end %>
</ul>
